<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="shared/header:: header"></div>
<form class="needValid">
    <div class="container">
        <div class="form-group row">
            <label for="country" class="col-sm-2 col-form-label col-form-label-sm">Страна</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm" required id="country" value="by" maxlength="2" minlength="2" >
            </div>
        </div>
        <div class="form-group row">
            <label for="nameUC" class="col-sm-2 col-form-label col-form-label-sm">Имя УЦ</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm" required id="nameUC" maxlength="9" minlength="4" placeholder="col-form-label-sm">
            </div>
        </div>
        <div class="form-group row">
            <style>
                .form-control-sm::-webkit-inner-spin-button {
                    display: none;
                }
            </style>
            <label for="numb" class="col-sm-2 col-form-label col-form-label-sm">Номер</label>
            <div class="col-sm-2">
                <input type="number"  class="form-control form-control-sm" id="numb" len placeholder="col-form-label-sm" required>
                <script>
                    document.getElementById('numb').oninput = function () {
                        if (this.value.length > 5) this.value = this.value.substr(0, 5); // в поле можно ввести только 7 символов
                    }
                </script>
            </div>
        </div>
        <div class="form-group row">
            <label for="algEncrypt" class="col-sm-2 col-form-label col-form-label-sm">Алгоритм шифрования</label>
            <div class="col-sm-2">
                <select class="form-control form-control-sm" required id="algEncrypt">
                    <option>12313123</option>
                    <option>22323233</option>
                    <option>3231213123</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label col-form-label-sm">Роль</label>
            <div class="col-sm-2">
                <select class="form-control form-control-sm" required id="role">
                    <option>12313123</option>
                    <option>22323233</option>
                    <option>3231213123</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label col-form-label-sm">Тип</label>
            <div class="col-sm-2">
                <select class="form-control form-control-sm" required id="type">
                    <option>12313123</option>
                    <option>22323233</option>
                    <option>3231213123</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="Alg" class="col-sm-2 col-form-label col-form-label-sm">Алгоритм ...</label>
            <div class="col-sm-2">
                <select class="form-control form-control-sm" required id="Alg">
                    <option>12313123</option>
                    <option>22323233</option>
                    <option>3231213123</option>
                    <option>4</option>
                    <option>5</option>

                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label col-form-label-sm">Дата начала</label>
            <div class="col-sm-2">
                <input type="date" class="form-control form-control-sm" id="startDate" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="endDate" class="col-sm-2 col-form-label col-form-label-sm">Конечная дата</label>
            <div class="col-sm-2">
                <input type="date" class="form-control form-control-sm" id="endDate" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm"><b>Участники церемонии:</b></label>
        </div>
        <hr style="width:100%;text-align-all:left;">
        <script th:insert="static/js/addInputFieldsCreateKeys.js"></script>
        <style th:insert="static/css/addButtonCreateKeys.css"></style>
        <div>
            <style>

            </style>

            <div class="container">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="firstName" class="col-sm-2 col-form-label col-form-label-sm">Имя</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id = "firstName" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="secondName" class="col-sm-2 col-form-label col-form-label-sm">Фамилия</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id = "secondName" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="lastName" class="col-sm-2 col-form-label col-form-label-sm">Отчество</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id = "lastName" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="organ" class="col-sm-2 col-form-label col-form-label-sm">Орган</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id = "organ" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="position" class="col-sm-2 col-form-label col-form-label-sm">Должность</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id = "position" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="reason" class="col-sm-2 col-form-label col-form-label-sm">Основание</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id = "reason" >
                    </div>
                </div>
                <hr style="width:100%;text-align-all:left;">
            </div>
            <div id="input0"></div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <div class="add" onclick="addInput()">+</div>
                </div>
            </div>
            <div class="form-group row mb-5 " >
                <div class="col" style="text-align: right">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </div>
        <script th:insert="static/js/checkValidCreateKeys.js"></script>


    </div>
</form>
<div th:insert="shared/footer:: footer"></div>
</body>
</html>