<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="shared/header:: header"></div>
<div th:each="el : ${CertSets}">
    <div>Сертификат</div>
    <div th:text="${el.getNameUC()}"/>
    <p th:text = "${el.getCountry()}"/>
    <p th:text = "${el.getRole()}"/>
    <p th:text = "${#dates.format(el.getStartDate(),'yyyy-MM-dd')}"/>
    <p th:text = "${#dates.format(el.getEndDate(),'yyyy-MM-dd')}"/>
    <p th:text = "${el.getId()}"/>
    <div th:each="el1: ${el.getMembersModels()}">
        <div>Участники:</div>
        <div th:text="${el1.getFirstName()}"/>
        <p th:text = "${el1.getSecondName()}"/>
        <p th:text = "${el1.getLastName()}"/>
        <p th:text = "${el1.getAgency()}"/>
        <p th:text = "${el1.getPosition()}"/>
        <p th:text = "${el1.getReason()}"/>
        <p th:text = "${el1.getId()}"/>
        <p th:text = "${el1.getCert_Id()}"/>
    </div>
</div>
<!--<div th:each="els : ${Members}">-->
<!--    <div th:text="${els.getFirstName()}"/>-->
<!--    <p th:text = "${els.getSecondName()}"/>-->
<!--</div>-->
</div>
<div th:insert="shared/footer:: footer"></div>
</body>
</html>